<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tareas terminadas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  

  <ion-row>    
    <ion-col></ion-col>

    <ion-col size-md="12" size-lg="6">      
        <ion-list *ngIf="tasks.length>0">          
          <ion-item *ngFor="let item of tasks; let i = index">
            <ion-label>{{item}}</ion-label>            
            <ion-button color="warning" (click)="uncompleteTask(item, i)">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="removeTask(i)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>

          </ion-item>
        </ion-list>      
    </ion-col>

    <ion-col></ion-col>
  </ion-row>
  
</ion-content>
